@model PagedList.IPagedList<DemoWeb.Models.category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered text-center">
    <tr>
        <th class="text-center">
            @Html.Label("Category Name")
        </th>
        <th class="text-center">
            @Html.Label("Number Product")
        </th>
        <th class="text-center">
            @Html.Label("Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink(@item.products.Count().ToString(), "ProductByCategory", new { id = item.id })
            </td>
            <td>
                @if (@item.status == 0)
                {
                    @Html.Label("Off")
                }
                else
                {
                    @Html.Label("On")
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Change Status", "ChangeStatus", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
